<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Code Fights</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Start your first fight</a></li>
      </li>
    </ul>
  </section>
</nav>

<section class="featured-hero">
	<h1>Code Fights</h1>
	<p>Test your coding skills with these fun challenges. See if your skills beat out others. Learn and compete again.</p>
	<a href="#">Start your first fight</a>
	<p>Try it out now. It's FREE.</p>
</section>
